.header {
    color: aqua;
    margin: 35px;
    position: inherit;
    left: 99px;
}
.container {
    box-shadow: 20px 15px 19px;
    font-size: 25px;
    border: 2px solid hsl(250deg 100% 32%);
    height: auto;
    width: 650px;
    border-radius: 0px;
    background-color: #deb88729;
    padding: 30px;
}
.sbutt{
    display: block;
    justify-content: center;
    align-items: center;
    width: 31%;
    margin: auto;
}
input{
    background-color: white;
}